/* Estilo gerais */

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  width: 100%;
  height: 80px;
  background-color: #172a64;
  position: fixed;
  z-index: 10;
  top: 0;
  padding: 22px 0;
}

.header_menu {
  text-align: right;
  padding-top: 8px;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
}

.header_menu ul li a {
  padding: 5px 10px;
}

/* BOTÃO  */

.btn {
  color: #e77448;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: none;
}

.btn:hover {
  color: #eaf3ee;
}

/* LOGOTIPO*/

.logo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-left: 8px;
  color: #e77448;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.logo:hover {
  color: #eaf3ee;
}

.logo-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: #e77448;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.logo-text-smaller {
  font-size: 24px;
}

.logo-text-smaller-blue {
  color: #172a64;
  font-size: 18px;
}

.logo-text-smaller-orange {
  color: #e77448;
  font-size: 18px;
}

/* Introdução */

.introducao-title {
  font-size: 48px;
  font-weight: bold;
  line-height: 55px;
  color: #eaf3ee;
  letter-spacing: 0.1em;
  padding-top: 100px;
}

.introducao-sub-title {
  font-size: 36px;
  line-height: 25px;
  color: #ededed;
  letter-spacing: 0.1em;
  padding-top: 10px;
  margin-bottom: 60px;
}

.introducao-sub-title::after {
  content: "";
  width: 120px;
  height: 3px;
  display: block;
  background-color: #ededed;
  margin: 20px auto 8px auto;
}

.btn-introducao {
  font-size: 18px;
  border: #e77448 solid 3px;
  padding: 8px 20px;
}

.btn-introducao:hover {
  border: #eaf3ee solid 3px;
}
/* Conteúdo */

.conteudo-title {
  color: #172a64;
  text-transform: uppercase;
  padding-top: 60px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.conteudo-title::after {
  content: "";
  width: 140px;
  height: 3px;
  display: block;
  background-color: #172a64;
  margin: 20px auto 8px auto;
}

/* Slide */

[data-slide] {
  position: relative;
}
[data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}
[data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
  z-index: 1;
}

/* form  */

.form {
  margin: 140px auto 60px 200px;
  border: #172a64 solid 2px;
  border-radius: 1%;
  height: 460px;
}

.form-cadastro {
  height: 640px;
  margin-top: 60px;
}

.title-form {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 54px;
  color: #172a64;
  padding: 30px 0 20px 0;
}

.label-form {
  display: block;
  text-align: left;
  padding: 0 0 5px 60px;
  color: #172a64;
  letter-spacing: 0.1em;
  font-weight: 549;
  font-size: 24px;
}

.txt-form {
  border: none;
  border-bottom: #172a64 solid 2px;
  width: 80%;
  margin: 0 20px 30px 40px;
  outline: none;
  padding: 0 5px;
  letter-spacing: 0.1em;
}

.btn-form {
  margin: 30px 20px 30px 40px;
  width: 80%;
  height: 40px;
  background-color: #172a64;
  outline: none;
  border: none;
  color: #eaf3ee;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.btn-form-cadastro {
  margin-top: 10px;
}

.btn-form:hover {
  border-radius: 2%;
  background-color: #132353;
  cursor: pointer;
}

.texto-form {
  font-size: 15px;
  color: #172a64;
}

.link-form {
  color: #172a64;
  font-weight: bold;
}

.link-form:hover {
  text-decoration: underline;
}

.label-inline {
  display: inline-block;
  padding-left: 20px;
  margin-right: 5px;
}

.input-file-form {
  color: #172a64;
  width: 80%;
  margin: 5px auto 30px 20px;
  outline: none;
}

.select-form {
  color: #172a64;
  margin: 5px auto 30px 20px;
  padding: 3px;
  width: 80%;
  border: #172a64 solid 2px;
  outline: none;
}

.txt-area-form {
  width: 80%;
  margin: 0 20px 15px 40px;
  height: 80px;
  border: #172a64 solid 2px;
  padding: 5px;
  outline: none;
  letter-spacing: 0.1em;
}

.form-dados-perfil {
  display: none;
}

/*Alert*/
.alert {
  color: white;
  font-weight: bold;
  background-color: red;
  padding: 5px;
  width: 80%;
  margin: 0px auto 20px auto;
  border-radius: 10px;
}

.alert-success {
  background-color: green;
}

.form-alert {
  height: 510px;
}

.form-alert-cadastro {
  height: 715px;
}

.label-alert {
  padding-top: 20px;
}

/*LOADER*/
.loader {
  border: 6px solid #e5e5e5;
  border-top-color: #51d4db;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  animation: is-rotating 1s infinite;
  margin: 0 auto;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}
